body {
  grid-template-columns: 1fr 5rem;
}
.content {
  margin: auto;
  max-width: 70ch;
  width: calc(100vw - 5rem);

  h1,
  h2,
  h3 {
    padding: 1rem 0;
    text-wrap: balance;
  }

  p {
    padding: 0.5rem 0;
    text-wrap: pretty;
  }

  p code,
  li code {
    overflow-wrap: anywhere;
    box-sizing: content-box;
    padding: 0.1rem 0.6rem;
    border-radius: 0.6rem;
  }

  pre {
    overflow: auto;
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
  }

  img, .card {
    border-radius: 1rem;
    margin: 1rem 0;
    width: 70ch;
    max-width: 100%;
  }

  h1::before { content: "# " }
  h2::before { content: "## " }
  h3::before { content: "### " }
  em::before, em::after { content: "*" }
  strong::before, strong::after { content: "__" }
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  line-height: 1;
}
.note-status {
  padding: 0.6rem 0;
  writing-mode: sideways-rl;
}
svg a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
