body {
  grid-template-columns: 1fr 5rem;
}
.content {
  margin: auto;
  max-width: 70ch;

  h1,
  h2,
  h3 {
    padding: 1rem 0;
  }

  code {
    white-space: nowrap;
    box-sizing: content-box;
    padding: 0.1rem 0.6rem;
    border-radius: 0.6rem;
  }

  img {
    border-radius: 1rem;
    margin: 1rem 0;
    width: 100%;
  }

  h1::before { content: "# " }
  h2::before { content: "## " }
  h3::before { content: "### " }
  em::before, em::after { content: "*" }
  strong::before, strong::after { content: "__" }
}
