/* ---- ---- ---- ---- */
:root {
  --accent: #74c7ec;
  --internal-link: #89b4fa;
  --external-link: #cba6f7;
  --dead-link: #f38ba8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 50ch 1fr;
  font: 16px monospace;
  line-height: 1.75;
  text-wrap: pretty;
  background: #1e1e2e;
}

nav {
  background: #181825;
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
nav ul {
  padding: 0;
  margin: 0;
  border-left: .38em solid;
  border-image: linear-gradient(to bottom, #a6e3a1 0%, #89b4fa 100%) 1;
}
nav a {
  color: #cdd6f4;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav li {
  list-style: none;
}
nav li::before {
  content: "";
  color: #94e2d5;
  display: inline-block;
  width: 1ch;
  margin-right: 1ch;
  height: .38em;
}
nav li.back::before {
  background: #a6e3a1;
}
nav li.current::before {
  content: "<";
  font-weight: bolder;
}
nav li.forward::before {
  background: #89b4fa;
}
.source {
  display: flex;
  align-items: center;
  gap: 1em;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-weight: bold;
}
.metadata div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  padding: 1em 1.62em;
  border-radius: 1em;
  background: #181825;
  color: var(--accent);
}
.metadata .tag {
  background: var(--accent);
  color: #1e1e2e;
  flex: 1;
}
.metadata svg {
  width: unset;
}

main {
  margin: 0 auto;
  max-width: 80ch;
  color: #cdd6f4;
  padding: 2em;
}

h1,
h2,
h3 {
  color: #b4befe;
}

h1::before { content: "# " }
h2::before { content: "## " }
h3::before { content: "### " }

a {
  color: var(--internal-link);
}

.external-link {
  color: var(--external-link);
}

em, strong {
  color: var(--accent);
  font-weight: bold;
}

img, svg {
  width: 100%;
  border-radius: 1em;
}

hr {
  border: .38em dashed var(--accent);
}

button {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  background: #313244;
  color: #cdd6f4;
  border-radius: 0.6rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

/* ----  MOBILE - ---- */

.mobile-button {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (width <= 130ch) {
  body {
    display: block;
  }

  nav {
    display: none;
  }

  nav.show {
    display: flex;
  }

  body:has(nav.show) {
    overflow: hidden
  }

  .mobile-button {
    display: flex;
  }
}

