/* ---- ---- ---- ---- */
:root {
  --lower: #181825;
  --higher: #313244;
  --accent: #74c7ec;
  --em: #a6e3a1;
  --internal-link: #74c7ec;
  --external-link: #94e2d5;
  --dead-link: #f38ba8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 50ch 1fr;
  font: 16px monospace;
  line-height: 1.75;
  text-wrap: pretty;
  background: #1e1e2e;
}

nav {
  background: var(--lower);
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
nav ul {
  padding: 0;
  margin: 0;
  border-left: .38em solid;
  border-image: linear-gradient(to bottom, #a6e3a1 0%, #89b4fa 100%) 1;
}
nav a {
  color: #cdd6f4;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav li {
  list-style: none;
}
nav li::before {
  content: "";
  color: #94e2d5;
  display: inline-block;
  width: 1ch;
  margin-right: 1ch;
  height: .38em;
}
nav li.back::before {
  background: #a6e3a1;
}
nav li.current::before {
  content: "<";
  font-weight: bolder;
}
nav li.forward::before {
  background: #89b4fa;
}
.source {
  display: flex;
  align-items: center;
  gap: 1em;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.metadata div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  padding: 1em 1.62em;
  border-radius: 1em;
  background: var(--higher);
  color: #cdd6f4;
}
.metadata .tag {
  flex: 1;
}
.metadata svg {
  width: unset;
}

main {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  max-width: 80ch;
  color: #cdd6f4;
  padding: 2em;
}

h1,
h2,
h3 {
  color: #b4befe;
}

h1::before { content: "# " }
h2::before { content: "## " }
h3::before { content: "### " }

a {
  color: var(--internal-link);
}

.external-link {
  color: var(--external-link);
}

em, strong {
  color: var(--em);
  font-weight: bold;
}

img, svg {
  width: 100%;
  border-radius: 1em;
}

hr {
  border: .38em dashed var(--accent);
}

p code,
li code {
  overflow-wrap: anywhere;
  box-sizing: content-box;
  padding: 0.1rem 0.6rem;
  border-radius: 0.6rem;
  background: var(--lower);
}

table {
  border-collapse: collapse;
}
th, td {
  text-align: left;
  min-width: 6ch;
  padding: 4px 8px;
  border: 1px solid var(--higher);
}

.math-inline {
  display: inline-block;
}

pre {
  overflow: auto;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  background: var(--lower);
}

button {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  background: var(--higher);
  color: #cdd6f4;
  border-radius: 0.6rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

/* ----  MOBILE - ---- */

.mobile-button {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (width <= calc(140ch + 8em)) {
  body {
    display: block;
  }

  nav {
    display: none;
  }

  nav.show {
    display: flex;
  }

  body:has(nav.show) {
    overflow: hidden
  }

  .mobile-button {
    display: flex;
  }
}

/* ---- SYNTAX HL ---- */
:root {
  /* from https://github.com/catppuccin/obsidian/blob/065101797eb32eea61ef7b6690e7b9ff7cbf08d9/scss/base/_app-variables.scss#L92 */
  --code-comment: #45475a;
  --code-function: #f9e2af;
  --code-important: #fab387;
  --code-keyword: #f5c2e7;
  --code-property: #74c7ec;
  --code-punctuation: #a6adc8;
  --code-string: #a6e3a1;
  --code-tag: #f38ba8;
  --code-value: #b4befe;
}
/* From Obsidian's app.css */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}
.token.namespace {
  opacity: 0.7;
}
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-tag);
}
.token.punctuation {
  color: var(--code-punctuation);
}
.token.boolean,
.token.number {
  color: var(--code-value);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: var(--code-string);
}
.token.operator {
  color: var(--code-operator);
}
.token.entity,
.token.parameter,
.token.property,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--code-property);
}
.token.atrule,
.token.attr-value,
.token.builtin,
.token.function,
.token.class-name,
.token.property-access {
  color: var(--code-function);
}
.token.keyword {
  color: var(--code-keyword);
}
.token.regex,
.token.important {
  color: var(--code-important);
}
