body {
  grid-template-columns: auto 1fr 5rem;
}

form,
fieldset {
  display: flex;
  gap: 1rem;
  padding: 0;
  border: none;
}

form {
  flex-direction: column;
  padding: 1rem;
}

input,
.input {
  height: calc(1.75rem + 0.6rem + 0.6rem); /* line height plus 2 paddings */
  font-size: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
}

.button {
  height: calc(1.75rem + 0.6rem + 0.6rem); /* line height plus 2 paddings */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;

  svg {
    height: 1rem;
  }
}
