body {
  background: #1e1e2e;
  color: #cdd6f4;
  --logo-bottom-left: #94e2d5;
  --logo-bottom-right: #a6e3a1;
  --logo-top-left: #74c7ec;
  --logo-top-right: #89b4fa;
  --logo-bg: #181825;
}

.sidebar {
  background: #181825;
}
.stat {
  svg * {
    stroke: #a6e3a1;
  }
}
.stat:has(.lucide-shredder) {
  animation: 0.5s linear 5 pulse;
  svg * {
    stroke: #f38ba8
  }
}

.content {
  h1,
  h2,
  h3 {
    color: #b4befe;
  }

  em,
  strong {
    color: #a6e3a1;
  }

  a {
    color: #89b4fa;
  }

  p code,
  li code {
    background: #181825;
    border: 1px solid #cdd6f4;
  }

  pre {
    background: #181825;
  }
}

.input,
input {
  background: #181825;
  color: #cdd6f4;
}

.input:focus,
input:focus {
  outline: 0.1rem solid #cba6f4;
}

.button {
  background: #313244;
  color: #cdd6f4;
}

.button.accent {
  background: #a6e3a1;
  color: #1e1e2e;
}
