body {
  background: #1e1e2e;
  color: #cdd6f4;
}

.sidebar {
  background: #181825;
}

.content {
  h1,
  h2,
  h3 {
    color: #74c7ec;
  }

  a,
  em,
  strong {
    color: #a6e3a1;
  }

  code {
    background: #181825;
    border: 1px solid #a6e3a1;
  }
}
