<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>заметки - snlx.net</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/garden.css">
</head>
<body>
  <div class="sidebar">
    <nav>
      <a href="/" class="logo-link">
        <img src="/garden.svg" class="logo">
      </a>
      <h2>
        <span>заметки</span>
      </h2>
    </nav>
  </div>

  <div class="container">
    <main>
      {{ content | safe }}
    </main>
  </div>

  <script>
    if (navigator.language.startsWith("en")) {
      if (window.location.pathname.startsWith("/ru-index")) {
        window.location.replace("/")
      }
      window.location.replace('/' + window.location.pathname.slice(4))
    }
  </script>
</body>
</html>
