<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>snlx.net / {{ title }}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="sidebar">
    <nav>
      <a href="/" class="logo-link">
        <img src="/garden.svg" class="logo">
      </a>
      <h2>
        <span>{{ title }}</span>
      </h2>
    </nav>
  </div>

  <div class="container">
    <main>
      {{ content | safe }}
    </main>
  </div>

  <script>
    if (navigator.language.startsWith("ru")) {
      const name = window.location.pathname.slice(1) || "index"
      window.location.replace("ru-" + name)
    }
  </script>
</body>
</html>
