<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>snlx.net / TIL</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav class="sidebar">
    <div>
      <a href="/" class="logo-link">
        <img src="/garden.svg" class="logo">
      </a>
      <h2>
        Today I Learned
      </h2>
    </div>
  </nav>

  <div class="container">
    <main>
      {{ content | safe }}
    </main>
  </div>
</body>
</html>
